img{
    max-height: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

/* Table header styling */
th {
background-color: #f5f5f5;
color: #333;
text-align: left;
padding: 10px;
border-bottom: 2px solid #ddd;
}

/* Table body styling */
tr {
border-bottom: 1px solid #eee;
}



td {
padding: 10px;
}




body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

/* Container styling */
.container {
    text-align: center;
}

/* Heading styling */
.heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Search box styling */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #333;
}


