<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic search</title>
    <style>
        img{
            max-height: 200px;
        }

        table, td, tr, th{
            border : 3px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src = "/static/main.js"></script>

</head>
<body>
    <h1>Semantic Search</h1>
    <p>
        Enter Query : 
        <input type="text" name="query" value="" id = "query_box" autofocus autocomplete="off">
    </p>

    <p id = "response">
        <!-- for response from the flask api -->
    </p>
</body>
</html>