<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic search</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src = "/static/main.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="heading">Semantic Search</h1>
        <div class="search-box">
            <input type="text" placeholder="Type your search..." class="search-input" name="query" value="" id = "query_box" autofocus autocomplete="off">
        </div>

        <div id="response">
            
        </div>
    </div>
</body>
</html>